<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :video %><br>
    <!-- <%= f.text_field :video %> -->
    <%= f.file_field :video, :accept => 'video/*' %>
    <!-- <%= f.file_field :video %> -->
    <!-- <%= link_to :video, @item.video_url.to_s, id: "video" %> -->
<!--     <%= flowplayer_for :video, '/flowplayer.swf' do |player|
      player.playlist [{:autoplay => true, :autoBuffering => true}]
      player.onload do
        'this.unmute();'
        end
    end%>
 -->  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
